.tag-unit{
    white-space:nowrap;

    color : white;
    font-size: 10px;
    font-weight: 500;

    border-radius : 25px;
    @include background-main-color;

    padding: 3px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    margin-left: 0;

    margin-top: -5px;
}

@media (min-width:780px) {
    .tag-unit{
        font-size: 12px;
    }
}