.Housing-Sheet{
    display: flex;
    flex-direction: column;

    margin-right: 20px;
    margin-left: 20px;
}


.preload {
    width: 0;
    height: 0;
}

.preload img {
    width: 0;
    height: 0;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-right: 70px;
    margin-bottom: 10px;
}

.unwrap-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.unwrap-btns p {
    height : auto;
}

@media (min-width:400px) {
    .Housing-Sheet {
        margin-right: 40px;
        margin-left: 40px;
    }
}

@media (min-width:750px) {
    .Housing-Sheet {
        margin-right: 100px;
        margin-left: 100px;
    }
}

@media (min-width:780px) {
    .Housing-Sheet h1 {
        font-size : 24px;
    }

    .location{
        font-size : 18px;
    }

    .host-and-ratings {
        margin-bottom: -70px;
    }

    .unwrap-btns {
        flex-direction: row;
        gap: 50px;
    }

    .unwrap-btns p {
        height : 200px;
    }
}