.Housing-Sheet{
    display: flex;
    flex-direction: column;

    margin-right: 20px;
    margin-left: 20px;
}

.Housing-Sheet h1 {
    color : #FF6060;
    font-size : 18px;
    font-weight: 500;

    margin-bottom: 10px;
}

.location{
    color : #FF6060;
    font-size : 14px;

    margin-bottom: 10px;
}

.tags {
    display: flex;
    flex-direction: row;

    margin-bottom: 10px;
}

@media (min-width:400px) {
    .Housing-Sheet {
        margin-right: 40px;
        margin-left: 40px;
    }
}

@media (min-width:650px) {
    .Housing-Sheet {
        margin-right: 100px;
        margin-left: 100px;
    }
}