.About{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

    margin-right: 20px;
    margin-left: 20px;
}

@media (min-width:400px) {
    .About {
        margin-right: 40px;
        margin-left: 40px;
    }
}

@media (min-width:650px) {
    .About {
        margin-right: 100px;
        margin-left: 100px;
    }
}

.Unwrap-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width : 100%;
}

.Unwrap-div{
    width: 100%;
    margin-bottom : 20px;
}

@media (min-width:779px){
    .Unwrap-section{
        width : 80%;
    }
}