.rating {
    position: relative;
    bottom : 30px;
}

.star {
    width: 15px;
}

.uncoloredStar {
    filter: invert(50%);
}

@media (min-width:780px) {
    .rating {
        display: flex;
        justify-content: flex-end;

        bottom : 110px;
    }
    
    .star {
        width: 20px;
    }
}