.unwrap-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
    
    border-radius: 5px;
    background-color: #FF6060;
    height: 40px;
    width: 100%;
    font-size: 12px;
}

.unwrap-btn:hover{
    cursor: pointer;
}

.unwrap-btn h2{
    font-weight: 400;
    color: white;
    
    margin-left: 20px;
}

.unwrap-btn img{
    width : 20px;
    height: 10px;

    margin-right: 20px;
}

.reverseImg{
    transform: rotate(180deg);
}


.description{
    color:#FF6060;
    background-color: #F7F7F7;
    font-size: 13px;

    padding: 15px;
    padding-top: 25px;
}

.description-hidden{
    display: none;
}

@media (min-width:500px){
    .description{
        font-size: 15px;
    }
}