header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  
  @media (min-width:400px) {
    header {
        margin-right: 40px;
        margin-left: 40px;
    }
  }
  
  @media (min-width:750px) {
    header {
        margin-right: 100px;
        margin-left: 100px;
    }
  }