@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  background-color:pink;
}

.section1 {
  min-height: 100%;
  margin-bottom: 20%;
  margin-left: 100px;
  margin-right: 100px;
}