@import "./styles/fonts.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  /* background-color:pink; */
  min-height: 100vh;
  font-family: Montserrat;
}